# Using the Jupyter notebook

The Jupyter *notebook* is a new feature that has been implemented into IPython, and allows you to write notebooks similar to e.g. Mathematica. The advantage of doing this is that you can include text, code, and plots in the same document. This makes it ideal for example to write up a report about a project that uses mostly Python code, in order to share with others. In fact, the notes for this course are written using the Jupyter notebook!

## Starting up

The normal way to start up the Jupyter notebook is using the Terminal application on Mac (or the Anaconda Launcher):

    jupyter notebook
    
Once you do this, your web browser should open and go to a page showing a list of folders. 

You can now create a folder/directory called: ``PHYS_X0323`` using the "new" button in the upper right corner.
Make sure this, and all future Jupyter notebook are downloaded/written in this folder.

*All coding assignment will be turned in as .ipynb files.   They should be turned in with the following naming:*
    
    Lastname_Firstinitial_25_HW#.ipynb

## A note on Python objects (demo)

Most things in Python are objects.  But what is an object?

Every constant, variable, or function in Python is actually a object with a
type and associated attributes and methods. An *attribute* a property of the
object that you get or set by giving the ``<object_name>.<attribute_name>``, for example ``img.shape``. A *method* is a function that the object provides, for example ``img.argmax(axis=0)`` or ``img.min()``.
    
Use tab completion in IPython to inspect objects and start to understand
attributes and methods. To start off create a list of 4 numbers:

    li = [3, 1, 2, 1]
    li.<TAB>

This will show the available attributes and methods for the Python list
``li``.

**Using ``<TAB>``-completion and help is a very efficient way to learn and later
remember object methods!**

    In [2]: li.
    li.append   li.copy     li.extend   li.insert   li.remove   li.sort
    li.clear    li.count    li.index    li.pop      li.reverse 
    
If you want to know what a function or method does, you can use a question mark ``?``:
    
    In [9]: li.append?
    Type:       builtin_function_or_method
    String Form:<built-in method append of list object at 0x1027210e0>
    Docstring:  L.append(object) -> None -- append object to end

## Dynamic typing

One final note on Python types - unlike many other programming languages where types have to be declared for variables, Python is *dynamically typed* which means that variables aren't assigned a specific type:

In [1]:
a = 1
type(a)

int

In [2]:
a = 2.3
type(a)

float

In [9]:
a = 'hello hello'
type(a)

str

## Converting between types

There may be cases where you want to convert a string to a floating point value, and integer to a string, etc. For this, you can simply use the ``int()``, ``float()``, and ``str()`` functions:

In [10]:
z = '1'
int(z)

1

In [11]:
float('4.31')

4.31

For example:

In [12]:
int('5') + float('4.31')

9.309999999999999

is different from:

In [13]:
'5' + '4.31'

'54.31'

Similarly:

In [17]:
str(1)

'1'

In [18]:
str(4.5521)

'4.5521'

In [19]:
str(3) + str(4)

'34'

Be aware of this for example when connecting strings with numbers, as you can only concatenate identical types this way:

In [20]:
'The value is ' + 3

TypeError: can only concatenate str (not "int") to str

Instead do:

In [21]:
'The value is ' + str(3)

'The value is 3'

## Rounding floating point numbers to integers

By default, ``int`` will round floating point values **down**:

In [22]:
int(14.99)

14

If you want to round to the nearest integer, you can instead use ``round`` or ``np.round``:

In [24]:
round(14.9)

15

In Python 2, ``round(14.9)`` returns ``15.0`` so to be safe, you should do:

In [25]:
int(round(14.9))

15

## Exercise 3 - HOMEWORK
## ===================================

Calculate  $3^4$, $2^3-7.8$, and $(3 - j)^3$. What is the type of the output in each case, and does it make sense?

In [51]:
a = 3**4
print(a, type(a))
b = 2**3 - 7.8
print(b, type(b))
c = complex(3,-1)**3
print(c, type(c))

81 <class 'int'>
0.20000000000000018 <class 'float'>
(18-26j) <class 'complex'>

In the following string, find out (with code) how many times the letter "A" appears.

In [72]:
s = "CAGTACCAAGTGAAAGAT"

# your solution here
s.count("A")

8

Given two lists, try making a new list that contains the elements from both previous lists:

In [26]:
a = [1, 2, 3]
b = [4, 5, 6]

# your solution here
c = a + b 
print(c)

[1, 2, 3, 4, 5, 6]

Note that there are several possible solutions!

I hope this super-basic introduction has given you a glimpse at some of the basic functionality of Python. Of course, Python is way more powerful than what has been shown here. I call this Part 1 because once you know the basic data types, how to define variables, and do some simple math on them, we are going to need to jump into new concepts — for loops and conditional statements, as well as invoke new libraries (like numpy and matplotlib) to do make further progress. 

To turn in, upload to your GitHub account using Git Desktop by **Friday, September 12th, 5pm**